.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px;
}

.bundle {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.bundle-header {
    display: flex;
    align-items: center; 
    margin: 0; 
    color: #007F61;
}

.bundle-header hr {
    flex: 1; 
    margin: 0 10px;
    width: 90px;
}

.checkbox {
    display: inline-block;
    position: relative;
    width: 15px; 
    height: 15px; 
    margin-right: 7%;
}

.checkbox input[type="checkbox"] {
    display: none; 
}

.checkbox label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: transparent;
}

.checkbox input[type="checkbox"]:checked + label {
    background-color: green; 
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    width: 8px; 
    height: 8px; 
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main2 {
    width: 20%;
    border: 1px solid black;
    padding: 10px 20px;
    align-items: center;
}

.main2:hover {
    background: #F4FBF9;
    border: 2px solid #007F61;
}

.mostPopular {
    width: 100px;
    margin: 0;
    color: #007F61;
    font-weight: 500;
}

.percent{
    margin: 0%;
}

.paragraph1 {
    margin: 0%;
}

.paragraph2 {
    margin: 0%;
    font-weight: 500;
}

.marginRight2 {
    margin-right: 27%;
    text-align: start;
}

.marginRight {
    margin-right: 35%;
    text-align: start;
}

.padding {
    padding: 5px 0px;
}

.hoverMain {
    display: flex;
    align-items: center;
}

.hoverMain2 {
    display: flex;
    align-items: center;
    height: 20px;
}

.sizecolour {
    display: flex;
    padding-left: 35px;
    gap: 40px;
}

.size {
    width: 20px;
    height: 12px;
    font-family: inner;
    font-size: 9.94px;
    font-weight: 400px;
    line-height: 12.03px;
}

.select {
    margin-left: 5%;
    width: 47px;
    height: 15px;
    font-size: 9.94px;
}

.select2 {
    margin-left: 4%;
    width: 55px;
    height: 15px;
    font-size: 9.94px;
}

.shipping {
    color: #007F61;
    font-size: 14px;
}

.shippingTotal {
    font-size: 14px;
}

.totalText {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #007F61;
    width: 341px;
    height: 48px;
    border-radius: 4px 4px 4px 0px;
    border: #fff;
    color: #fff;
    font-size: 16px;
}

@media screen and (max-width: 844px) {
        .main2 {
            width: 80%;
        }
     }